body{
    background-color: black;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    color: black;
    width: 100%;
    background-color: #860000;
    text-align: center;
}

.titulo{
    border: 1px solid transparent;
    height: max-content;
}

#info{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    background-color: gray;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 50px;
    width: 50px;
}
.info-icon{
    visibility: hidden;
    opacity: 0;
}

.mais-container {
    margin: auto;
    display: grid;
    grid-template-columns: 270px, 400px ;
    grid-template-rows: 133px, 133px, 133px,;
    grid-template-areas:
    "primeiro segundo"
    "primeiro terceiro"
    "primeiro quarto"
    ;
}

.jogo-04{
    grid-area: primeiro;
}

.jogo-05{
    grid-area: segundo;
}

.jogo-06{
    grid-area: terceiro;
}

.jogo-07{
    grid-area: quarto;
}

.categorias-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}

.slide{
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    
}

.emulador-more{
    margin: auto;
    width: 200px;
    height: 200px;
}

.info_01{
    position: absolute;
    border: 1px solid rgb(80, 31, 31);
    display: flex;
    background-color: gray;
    height: fit-content;
    flex-direction: column;
}

.img-boot{
    position: absolute;
    left: 50%;
    top: 15%;
    margin: auto;
    height: 100px;
    width: 100px;
}

.unMost{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.chose{
    color: yellow;
    border: 1px solid transparent;
    background-color: transparent;
    text-decoration: underline;
}

.button{
    padding-left: 10px;
    background-color: white;
    border: 1px solid gray;
    height: 1fr;
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
}

.emulador-img{
    transform: translateX(0);
}

.back{
    display: flex;
    justify-content: center;
    width: 50px;
}

.atuais{
    width: 700px;
    display: grid;
    grid-template-columns: 200px, 200px, 200px;
    grid-template-areas:
     "principal jogo2 jogo3"
     ;
    margin: auto;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    background-color: white;
    width: 200px;
    height: 300px;
}

.jogo-01{
    grid-area: principal;
}

.jogo-02{
    grid-area: jogo2;
}

.jogo-03{
    grid-area: jogo3;
}

h2{
    color: white;
    text-align: center;
}

#mais{
    display: flex;
    justify-content: center;
    margin: auto;
}

.mais2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 15px;
    width: 100px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    color: rgb(51, 47, 47);
    margin-bottom: 20px;
}
img{
    height: 50%;
}

.game2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 1px solid gray;
    background-color: white;
    width: 400px;
    height: 100px;
}


.game3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    border: 1px solid gray;
    background-color: white;
    width: 270px;
    height: 400px;
}

nav{
    display: flex;
    justify-content: center;
    border: 1px solid #860000;
    background-color: #860000;
    width: 100%;
}

#categorias{
    display: flex;
    justify-content: center;
}

.catego-img{
    height: 95%;
    width: 95%;
}

.catego-img:hover{
    width: 110%;
    height: 110%;
    transition: 0.5s;
}

.catego{
    background-color: gray;
    border: 1px solid gray;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-catego,.right-catego{
    background-color: gray;
    height: 50px;
    border-radius: 100%;
}

.catego-text{
    text-align: center;
    color: white;
}

.nomeGrande{
    font-size: 1.25rem;
}

@media (max-width:890px) {
    /* body{
        background-color: green;
    } */
    nav{
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }
    #info{
        visibility: visible;
        opacity: 1;
    }
    header{
        height: 50px;
    }
    .info-icon{
        opacity: 1;
        visibility: visible;
    }

    .atuais{
        width: 400px;
        grid-template-columns: 200px, 200px;
        grid-template-rows: 200px, 300px;
        grid-template-areas: 
        "principal principal"
        "jogo2 jogo3";
        gap: 10px;
    }
    .jogo-01{
        background-color: whitesmoke;
        flex-direction: row;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    .jogo-02,.jogo-03{
        width: 100%;
        margin: 0;
    }

    img{
        height: 150px;
    }
    a{
        font-size: 1.625rem ;
        height: 75px;
        width: 100px;
    }
    h3{
        font-size: 1.875rem;
    }
    .game2{
        width: 120px;
    }
    .logo{
        font-size: 1.875rem;
    }
    h1{
        font-size: 30px;
    }
    .texto{
        font-size: 1.25rem;
    }
    .game3{
        flex-direction: row;
        height: 200px;
        width: 400px;
        margin-bottom: 10px
    }

    .mais-container{
    width: 400px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 200px, 200px;
    grid-template-areas:
    "primeiro primeiro primeiro"
    "segundo terceiro quarto"
    ;
    gap: 10px;
    }

    .mais2{
        flex-direction: row;
    }
    .game2{
        width: 130px;
        margin: 5px;
        flex-direction: column;
        height: 300px;
    }
    .nomeGrande{
        font-size: 1rem;
    }

    .img-min{
        height: 100px;
    }
}

@media (max-width:400px) {
    header{
        width: 400px;
    }

    footer{
        width: 400px;
    }
}